In [1]:
import csv
from gensim.models.word2vec import Word2Vec
import pandas as pd
import numpy as np
from keras.utils import np_utils
from keras.preprocessing.text import Tokenizer

In [2]:
train = pd.read_csv('nlp data.csv')

In [161]:
train.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [159]:
target = [12,24,15,9,7,8,25,5,19,13,11]

In [162]:
train.shape

(48442, 1)

In [181]:
#split하고 series로 만들어서 multi index slicing해서 필요한것만챙기기
temp_1 = []
for i in range(train.shape[0]):
    temp_1.append(list(pd.Series(list(train.iloc[i])[0].split())[target]))

In [183]:
df = pd.DataFrame(temp_1)

In [184]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,M_SAD_1,SitTime_3,PA_TOT_2,I_SB_EX_5,I_SB_FR_1,I_SB_BK_5,BMI_1,M_STR_3,F_SODA_2,PA_MSC_2,M_SUI_CON_1
1,M_SAD_1,SitTime_5,PA_TOT_4,I_SB_EX_2,I_SB_FR_2,I_SB_BK_2,BMI_2,M_STR_3,F_SODA_3,PA_MSC_1,M_SUI_CON_1
2,M_SAD_1,SitTime_3,PA_TOT_5,I_SB_EX_4,I_SB_FR_2,I_SB_BK_5,BMI_3,M_STR_3,F_SODA_1,PA_MSC_5,M_SUI_CON_1
3,M_SAD_1,SitTime_2,PA_TOT_5,I_SB_EX_3,I_SB_FR_3,I_SB_BK_5,BMI_3,M_STR_3,F_SODA_1,PA_MSC_3,M_SUI_CON_1
4,M_SAD_2,SitTime_2,PA_TOT_6,I_SB_EX_5,I_SB_FR_2,I_SB_BK_3,BMI_3,M_STR_2,F_SODA_2,PA_MSC_5,M_SUI_CON_2
...,...,...,...,...,...,...,...,...,...,...,...
48437,M_SAD_1,SitTime_5,PA_TOT_1,I_SB_EX_3,I_SB_FR_2,I_SB_BK_4,BMI_2,M_STR_3,F_SODA_3,PA_MSC_1,M_SUI_CON_1
48438,M_SAD_1,SitTime_5,PA_TOT_4,I_SB_EX_3,I_SB_FR_2,I_SB_BK_4,BMI_3,M_STR_2,F_SODA_3,PA_MSC_1,M_SUI_CON_1
48439,M_SAD_2,SitTime_1,PA_TOT_5,I_SB_EX_5,I_SB_FR_2,I_SB_BK_5,BMI_2,M_STR_3,F_SODA_2,PA_MSC_1,M_SUI_CON_1
48440,M_SAD_1,SitTime_2,PA_TOT_1,I_SB_EX_2,I_SB_FR_4,I_SB_BK_5,BMI_2,M_STR_3,F_SODA_2,PA_MSC_1,M_SUI_CON_1
48441,M_SAD_1,SitTime_3,PA_TOT_5,I_SB_EX_2,I_SB_FR_3,I_SB_BK_5,BMI_2,M_STR_2,F_SODA_6,PA_MSC_1,M_SUI_CON_1

In [186]:
df.columns = ['M_SAD','SitTime','PA_TOT','I_SB_EX','I_SB_FR','i_SB_BK','BMI','M_STR','F_SODA','PA_MSC','M_SUI_CON']

In [187]:
df

,M_SAD,SitTime,PA_TOT,I_SB_EX,I_SB_FR,i_SB_BK,BMI,M_STR,F_SODA,PA_MSC,M_SUI_CON
0,M_SAD_1,SitTime_3,PA_TOT_2,I_SB_EX_5,I_SB_FR_1,I_SB_BK_5,BMI_1,M_STR_3,F_SODA_2,PA_MSC_2,M_SUI_CON_1
1,M_SAD_1,SitTime_5,PA_TOT_4,I_SB_EX_2,I_SB_FR_2,I_SB_BK_2,BMI_2,M_STR_3,F_SODA_3,PA_MSC_1,M_SUI_CON_1
2,M_SAD_1,SitTime_3,PA_TOT_5,I_SB_EX_4,I_SB_FR_2,I_SB_BK_5,BMI_3,M_STR_3,F_SODA_1,PA_MSC_5,M_SUI_CON_1
3,M_SAD_1,SitTime_2,PA_TOT_5,I_SB_EX_3,I_SB_FR_3,I_SB_BK_5,BMI_3,M_STR_3,F_SODA_1,PA_MSC_3,M_SUI_CON_1
4,M_SAD_2,SitTime_2,PA_TOT_6,I_SB_EX_5,I_SB_FR_2,I_SB_BK_3,BMI_3,M_STR_2,F_SODA_2,PA_MSC_5,M_SUI_CON_2
...,...,...,...,...,...,...,...,...,...,...,...
48437,M_SAD_1,SitTime_5,PA_TOT_1,I_SB_EX_3,I_SB_FR_2,I_SB_BK_4,BMI_2,M_STR_3,F_SODA_3,PA_MSC_1,M_SUI_CON_1
48438,M_SAD_1,SitTime_5,PA_TOT_4,I_SB_EX_3,I_SB_FR_2,I_SB_BK_4,BMI_3,M_STR_2,F_SODA_3,PA_MSC_1,M_SUI_CON_1
48439,M_SAD_2,SitTime_1,PA_TOT_5,I_SB_EX_5,I_SB_FR_2,I_SB_BK_5,BMI_2,M_STR_3,F_SODA_2,PA_MSC_1,M_SUI_CON_1
48440,M_SAD_1,SitTime_2,PA_TOT_1,I_SB_EX_2,I_SB_FR_4,I_SB_BK_5,BMI_2,M_STR_3,F_SODA_2,PA_MSC_1,M_SUI_CON_1
48441,M_SAD_1,SitTime_3,PA_TOT_5,I_SB_EX_2,I_SB_FR_3,I_SB_BK_5,BMI_2,M_STR_2,F_SODA_6,PA_MSC_1,M_SUI_CON_1

In [189]:
df.to_csv('whole.csv')

In [188]:
df['M_SUI_CON'].value_counts()

M_SUI_CON_1    42350
M_SUI_CON_2     6092
Name: M_SUI_CON, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

### SMOTE적용을 위해 뒤에 있는 숫자만 남겨놓아보자. SMOTE는 complex data type은 지원안하는듯?

In [190]:
df_co = df.copy()

In [191]:
df_co = df_co.applymap(lambda x: x[-1])

In [192]:
df_co

,M_SAD,SitTime,PA_TOT,I_SB_EX,I_SB_FR,i_SB_BK,BMI,M_STR,F_SODA,PA_MSC,M_SUI_CON
0,1,3,2,5,1,5,1,3,2,2,1
1,1,5,4,2,2,2,2,3,3,1,1
2,1,3,5,4,2,5,3,3,1,5,1
3,1,2,5,3,3,5,3,3,1,3,1
4,2,2,6,5,2,3,3,2,2,5,2
...,...,...,...,...,...,...,...,...,...,...,...
48437,1,5,1,3,2,4,2,3,3,1,1
48438,1,5,4,3,2,4,3,2,3,1,1
48439,2,1,5,5,2,5,2,3,2,1,1
48440,1,2,1,2,4,5,2,3,2,1,1
48441,1,3,5,2,3,5,2,2,6,1,1

In [193]:
X = df_co.drop(['M_SUI_CON'], axis = 1)
y = df_co['M_SUI_CON']

In [194]:
#X_train, X_test : 70%의 훈련데이터 col들, label 값들.
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [195]:
from imblearn.over_sampling import SMOTE

In [196]:
smote = SMOTE(random_state=0)
X_train_over,y_train_over = smote.fit_sample(X_train,y_train)
print('SMOTE 적용 전 학습용 피처/레이블 데이터 세트: ', X_train.shape, y_train.shape)
print('SMOTE 적용 후 학습용 피처/레이블 데이터 세트: ', X_train_over.shape, y_train_over.shape)
print('SMOTE 적용 후 레이블 값 분포: \n', pd.Series(y_train_over).value_counts())

SMOTE 적용 전 학습용 피처/레이블 데이터 세트:  (33909, 10) (33909,)
SMOTE 적용 후 학습용 피처/레이블 데이터 세트:  (59352, 10) (59352,)
SMOTE 적용 후 레이블 값 분포:
 2    29676
1    29676
Name: M_SUI_CON, dtype: int64

### X_train_over, y_train_over : 업샘플된 훈련 데이터, X_test, y_test : 업샘플 안된 테스트 데이터
### 원래대로 글자 붙혀서 한번돌려보자

In [197]:
#SMOTE적용했더니 결과가 float로 변경됨 따라서 얘네들 값 string으로 변경해주자.
#우선 int로 변경해주고 str로 변경
X_train_over = X_train_over.applymap(lambda x: int(x))

In [198]:
y_train_over = y_train_over.apply(lambda x: int(x))

In [199]:
X_train_over = X_train_over.applymap(lambda x: str(x))
y_train_over = y_train_over.apply(lambda x: str(x))

In [200]:
def put_att_name(target_df):
    target_cols = list(target_df.columns)
    for cols in train_cols:
        target_df[cols] = target_df[cols].apply(lambda x: cols + "_" + x)
    return target_df

In [201]:
X_train_over = put_att_name(X_train_over)
X_test = put_att_name(X_test)

c:\users\dev_account\.conda\envs\dev_1\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [202]:
y_train_over

0        1
1        1
2        1
3        1
4        1
        ..
59347    2
59348    2
59349    2
59350    2
59351    2
Name: M_SUI_CON, Length: 59352, dtype: object

In [203]:
y_train_over = y_train_over.apply(lambda x : 'M_SUI_CON_' + x)
y_test = y_test.apply(lambda x : 'M_SUI_CON_' + x)

## 저장

In [204]:
X = pd.concat([X_train_over, y_train_over], axis = 1)

In [205]:
X.to_csv('final_train.csv')

In [206]:
y = pd.concat([X_test, y_test], axis = 1)

In [207]:
y.to_csv('final_test.csv')